# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# ... (leave other existing rules like node_modules/ alone)

# Ignore everything inside the certs directory by default
certs/*

# But DO include the specific global bundle file needed for AWS RDS
!certs/global-bundle.pem

# Optional: Add general ignore for .pem files outside of the certs directory if necessary
# If you have other .pem files you want ignored in the root, add a general ignore here, 
# but ensure you only use the 'certs/*' pattern for the specific directory.

# ... (rest of your .gitignore file)



# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.local
.env.*.local


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# amplify
node_modules
.amplify
amplify_outputs*
amplifyconfiguration*
.env.production
